header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  }

.Header-name {
  margin-left: 10px;
  padding: 0;
  font-size: 24px;
  margin-bottom: 50px;
}

.Header-clic ul {
  list-style-type: none;
  padding: 0;
}

.Header-clic ul li {
  margin: 20px 0;
}

.Header-clic ul li a {
  margin-left: 15px;
  color: white;
  font-size: 18px;
}

.Header-clic ul li a:hover {
  transform: scale(1.5);
  color: rgb(165, 243, 243);
  transition: all 0.5s ease-in-out;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 54vh;
  gap: 50px;
}

.link > a > img {
  width: 50px;
}