main {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    margin-left: 200px;
}

html {
    scroll-behavior: smooth;
}

h2, p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

.video {
    display: flex;
}

.techno > h3 {
    margin-left: 20px;
}

.techno-test {
    display: flex;
}

.techno-test > h4 {
    margin-left: 20px;
}

video {
    width: 50vh;
    cursor: pointer;
}

.projects > ul {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 8px;
}